<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Procesar CSV con IA</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<nav>
  <ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/procesar_csv">Procesar CSV con IA</a></li>
    <li><a href="/comparar_resultados">Comparar IA vs Humano</a></li>
  </ul>
</nav>
  <form action="/procesar_csv" method="post" enctype="multipart/form-data" style="width: 100%; max-width: 500px;">
    <div class="form-group">
      <h2>Procesar CSV con IA</h2>
      <label for="archivo">Archivo CSV Para analizar</label>
      <input type="file" name="archivo" id="archivo" required>
    </div>
    <input type="submit" value="Procesar">
  </form>
  {% if tabla %}
    <h3 class="result-header">Resultados del procesamiento</h3>
    <div class="styled-table">
      {{ tabla|safe }}
    </div>
    {% if archivo %}
      <a href="/descargar?file={{ archivo }}" class="button-link">Descargar archivo con resultados</a>
    {% endif %}
  {% endif %}
</body>
</html>